*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
    background-color: rgb(18, 18, 18);
}


.nav {
    height: 60px;
    width: 100%;
    background-color: rgb(18, 18, 18);
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.nav-title a {
    text-decoration: none;
    color: #fff;
}
.nav-title img{
    width: 120px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid rgb(82, 84, 248);
}

.nav>#nav-check {
    display: none;
}

.nav>.nav-links button {
    padding: 10px 20px;
    background-color:rgb(31, 96, 217);
    color: #fff;
    border-radius: 20px;
    border: none;
}

@media (max-width:750px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

/* --------------------------------------------------------------------END NAVBAR---------------------------------------------- */
.container_all{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.container_one{
    height: 25vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom : 2px solid #fff;
}
.box{
    height: 20vh;
    width: 70%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius:30px ;
    background-color: rgb(58, 59, 62);

}
.image img{
    height: 120px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* border: 2px solid yellow; */
}
.headings{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
/* ------------------------------------------------ */

.container_two{
    height: 8vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top:10px ;
}
.first_heading{
    color: #fff;
    padding: 10px;
}
.container_three{
    height: 30vh;
    width: 80%;
    border-bottom: 2px solid #fff;
  
}
.heading_1{
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.heading_2{
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.heading_3{
    color:rgb(31, 96, 217);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.box_2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.coupon_section{
    color: #fff;
    border: 2px solid #fff;
    height: auto;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-radius: 30px;
    background-color: rgb(58, 59, 62);
}
.coupon_section h3 i{
    font-size: 25px;
    color: rgb(31, 96, 217);
    padding-left: 10px;
  
}
/* ------------------------------------------------------------- */
.container_four{
    height: 8vh;
    width: 80%;
    margin-top: 10px;
}
.heading_bill{
    color: #fff;
    padding: 10px;
}
/* ------------------------------------------ */
.container_five{
    height: 20vh;
    width: 80%;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.two_box{
    height: 13vh;
    width: 25%;
    border: 2px solid gray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(32, 30, 30);
}
.heading_box{
    color: #fff;  
}
.heading_box h3{
    padding: 5px 40px; 
    background-color:rgb(31, 96, 217); 
    border-radius: 10px;
}
.heading_box h2{
    padding: 5px 5px 0px 0px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.two_box:hover{
    border-color: rgb(31, 96, 217);
}
/* -------------------------------------------------- */
.container_six{
    height: 8vh;
    width: 80%;
    /* border: 2px solid white; */
    margin-top:10px ;   
}
.heading_players{
    color: #fff;
    padding: 10px;
}
/* ------------------------------------------------------------- */
.container_seven{
    height: 10vh;
    width: 80%;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px ;   

}
.headings_all_players{
    display: flex;
    color: #fff;  
    padding: 0px 10px;
}
.headings_all_players h2{
    padding: 0px 30px;

}
.headings_all_players h2:hover{
    background-color:rgb(31, 96, 217);
    border-radius: 10px;
}
/* --------------------------------------------------- */
.container_eight{
    height: 8vh;
    width: 80%;
    /* border: 2px solid white; */
    margin-top:10px ;  
}
.calculate_player{
    color: #fff;
    padding: 10px;
}
/* ------------------------------------------------------- */
.container_nine{
    height: 10vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px ;   
}
.all_play{
    display: flex;
    color: #fff;  
    padding: 0px 10px;
}
.all_play h2{
    padding: 0px 30px;

}
.all_play h2:hover{
    background-color:rgb(31, 96, 217);
    border-radius: 10px;
}
/* ---------------------------------------------------------------------------- */
.container_10{
    height: 25vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom : 2px solid #fff;
}
.box_split{
    height: 20vh;
    width: 70%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius:30px ;
    background-color: rgb(58, 59, 62);
}
.headings_split{
    color: #fff;
}
.top_split{
    padding-bottom: 15px;
}
.bottom_split{
    display: flex;
    justify-content: start;
    /* align-items: center; */
}
.bottom_split i{
    padding-left:10px ;
    font-size: 30px;
    color:rgb(31, 96, 217); 
}
.image_split img{
    height: 120px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* border: 2px solid yellow; */
}
/* -------------------------------------------------------- */
.container_11{
    height: 20vh;
    width: 80%;
    margin-top:10px ;    
    border-bottom: 2px solid #fff;
}
.heading_cancel{
    color: #fff;
    padding: 10px 10px;
}
/* ------------------------------------------------------------- */

.container_12{
    height: 30vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom : 2px solid #fff;
}
.gather_box{
    height: 20vh;
    width: 70%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius:30px ;
    background-color: rgb(58, 59, 62);
}
.headings_gather{
    color: #fff;
}
/* ------------------------------------------------------ */
.container_13{
    height: 10vh;
    width: 80%;
    border-bottom: 2px solid white;
    margin-top:10px ; display: flex;
    justify-content: start;
    align-items: center;
}
.main_head_button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.heading_button{
    display: flex;
    flex-direction: row;
    color: #fff;
    padding: 10px;
}
.second_ h2{
    padding-left: 50px;
}
.button button{
    padding: 10px 30px;
    background-color:rgb(31, 96, 217);
    color: #fff;
    border-radius: 30px;
    font-size: 20px;
    border: none;
}


/* ------------------------------------------------------ */
/* footer */

.main_last {
    width: 100%;
    min-height: 40vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 26, 28);
}

.container_last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
#footer_logo{
    background-color: rgb(25, 26, 28);
}
.first img {
    height: 150px;
    width: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.second_last {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.second img {
    height: 80px;
    margin-top: 33px;
}

.third img {
    height: 150px;
    margin-bottom: 15px
}

.heading_last {
    font-size: 15px;
    color: white;
    margin-top: 15px;
}

.footer_one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}


.company_one li {
    list-style: none;
    padding-bottom: 20px;
    font-size: 20px;
    color: darkgrey;
    display: flex;
    justify-content: space-between;

}

.social_one li {
    list-style: none;
    padding-bottom: 20px;
    font-size: 20px;
    color: darkgrey;
    display: flex;
    justify-content: space-between;
}

.color_white {
    color: white;
}

@media screen and (max-width:850px) {
    .main_last {
        width: 100%;
        background-color: rgb(25, 26, 28);
    }
    .container_last {
        width: 100%;
    }
}

@media screen and (max-width:750px) {
    .main_last{
        /* padding: 10px; */
    }
    .image_last {
        width: 100%;
    }

    .heading_last {
        margin-bottom: 50px;
    }
    .footer_one {
       
        width: 100%;
    }
    .container_last {
        display: flex;
        flex-direction: column;
    }

}
