* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
    background-color: rgb(18, 18, 18);
}


.nav {
    height: 60px;
    width: 100%;
    background-color: rgb(18, 18, 18);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title a {
    text-decoration: none;
    color: #fff;
}

.nav-title img {
    width: 120px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid rgb(82, 84, 248);
}

.nav>#nav-check {
    display: none;
}

.nav>.nav-links button {
    padding: 10px 20px;
    background-color: rgb(31, 96, 217);
    color: #fff;
    border-radius: 20px;
    border-color: rgb(31, 96, 217);
    border: none;

}

@media (max-width:750px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

/* --------------------------------------------------------------------END NAVBAR---------------------------------------------- */
.main-section {
    height: 100vh;
    width: 100%;
}

.all_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 80vh;
    width: 100%;
}

.container_1 {
    height: 25vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #fff;
}

.pitch_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    width: 60%;
}

.heading_button_one h2 {
    padding: 20px 0px;
    color: #fff;
}

.heading_button_one h3 {
    border: 2px solid black;
    padding: 5px 30px;
    border-radius: 50px;
    color: #fff;
    background-color: rgb(31, 96, 217);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.heading_button_two h2 {
    padding: 20px 0px;
    color: #fff;

}

.heading_button_two h3 {
    border: 2px solid black;
    width: 30px;
    border-radius: 20px;
    padding: 5px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(31, 96, 217);
    border: none;

}

/* -----------------------container_2---------------------------------------- */

.container_2 {
    height: 10vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: stretch;
    align-items: center;

}

.calender_section {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    width: 90%;
}

.days_months {
    padding: 10px 30px;
    text-align: center;
}

.days_months h4 {
    color: #fff;
    padding: 5px;
}

.days_months h4:hover {
    background-color: rgb(31, 96, 217);
    border-radius: 10px;
}

/* ---------------------------------------------------- */
.container_3 {
    min-height: 10vh;
    width: 80%;
    border-bottom: 2px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.inner_headings {
    display: flex;
    flex-direction: row;
    color: #fff;
    width: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 250px;
    border: 2px solid gray;
    height: 60px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin: 1rem;
}

.offer_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -15%;
    transform: rotate(-90deg);
    background-color: gray;
}

.offer_heading h5 {
    padding: 5px;
    padding-left: 15px;
    width: 100px;

}

.heading_two {
    margin: 0rem .5rem;
}

.icon i {
    padding: 5px;
    font-size: 40px;
    color: rgb(31, 96, 217);
}

.heading_two h3 {
    padding: 0px 5px;
}

/* -------------------------------------------------- new time slot */
.container_4 {
    min-height: 10vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* border: 2px solid green; */
}

.container {
    text-align: center;
    background-color: rgb(18, 18, 18);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2em;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.tab:hover {
    color: #1e90ff;
}

.slots-container {
    display: none;
}
p{
    color: #fff;
}
.slots {
    display: none;
}

.slots.active {
    display: block;
}

.time-slots {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}

.time-slot {
    background: #444;
    border: none;
    color: #fff;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.time-slot:hover,
.time-slot.selected {
    background: #1e90ff;
}
/* 
.book-now {
    background: #1e90ff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background 0.3s;
}

.book-now:hover {
    background: #1c7ed6;
}
---------------------------------------- time slot new  */
/* .container_4 {
    height: 30vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
}

.heading_time {
    display: flex;
    color: #fff;
}

.heading_time h2 {
    padding: 0px 4rem;
}

.moon {
    margin-bottom: 15px;
}

.moon i {
    font-size: 30px;
    color: burlywood;
    margin-right: 5px;
}

.heading_time h2:hover {
    border-radius: 20px;
    background-color: rgb(31, 96, 217);
} */

/* -------------------------------------------------------------------------------------------------------------------------- */
/* 
.app-time {
    padding: 20px 30px;
    background: rgb(25, 26, 28);

}

p{
    color: #fff;
    margin-bottom: 10px;
    font:bold;
}
.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 5px;
    right: 0;
    bottom: 0;
    left: 40px;
    height: 20px;
    width: 20px;
    transition: all 0.15s ease-out 0s;
    background: #fff;
    border: 1px solid #999;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

.option-input:hover {
    background: #e5e7eb;
}

.option-input:checked {
    border: 1px solid #fff;
}

.option-input:checked::before {
    color: #d9486d;
    height: 40px;
    width: 40px;
    position: absolute;
    content: "✔";
    display: inline-block;
    font-size: 12px;
    left: 4px;
    line-height: 20px;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: "";
    display: block;
    position: relative;
    z-index: 100;
}

.option-input.radio {
    border-radius: 50%;
}

.option-input.radio::after {
    border-radius: 50%;
}

.app-check {
    display: flex;
}

.app-border {
    border: 1px solid #ece9e9;
    border-radius: 7px;
    padding: 5px 7px 5px 9px;
    padding-left: 40px;
    min-height: 30px;
}

.option-input.radio:checked+.app-border {
background-color: rgb(31, 96, 217);
}

.option-input.radio:disabled,
.option-input.radio:disabled+.app-border {
    cursor: not-allowed;
    opacity: 0.6;
}

.app-label {
    position: relative;
    margin-right: 10px;
    color: #fff;
}
 */

/* ------------------------------button-------------------------- */
.button_book {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button_book button {
    color: white;
    background-color: rgb(31, 96, 217);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}


/* ------------------------------------------------------ */
/* footer */

.main_last {
    width: 100%;
    min-height: 40vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 26, 28);
}

.container_last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

#footer_logo {
    background-color: rgb(25, 26, 28);
}

.first img {
    height: 150px;
    width: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.second_last {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.second img {
    height: 80px;
    margin-top: 33px;
}

.third img {
    height: 150px;
    margin-bottom: 15px
}

.heading_last {
    font-size: 15px;
    color: white;
    margin-top: 15px;
}

.footer_one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}


.company_one li {
    list-style: none;
    padding-bottom: 20px;
    font-size: 20px;
    color: darkgrey;
    display: flex;
    justify-content: space-between;

}

.social_one li {
    list-style: none;
    padding-bottom: 20px;
    font-size: 20px;
    color: darkgrey;
    display: flex;
    justify-content: space-between;
}

.color_white {
    color: white;
}

@media screen and (max-width:850px) {
    .main_last {
        width: 100%;
        background-color: rgb(25, 26, 28);
    }

    .container_last {
        width: 100%;
    }
}

@media screen and (max-width:750px) {
    .main_last {
        /* padding: 10px; */
    }

    .image_last {
        width: 100%;
    }

    .heading_last {
        margin-bottom: 50px;
    }

    .footer_one {

        width: 100%;
    }

    .container_last {
        display: flex;
        flex-direction: column;
    }

}